{% extends "global/base.html" %}

{% block content %}
    {% include "global/partials/header.html" %}
    <nav>
        <div>
            <a href="{% url "home:config_user" home.id %}">
                {% if user_info.picture %}
                    <img 
                        class="rounded-circle person-icon" 
                        src="{{ user_info.picture.url }}" 
                        alt="img-person" 
                        width="150">
                {% else %}
                    <i class="bi bi-person display-1 text-dark"></i>
                {% endif %}
            </a>
        </div>
        <span class="display-3">Olá {{home.username}} </span>
    </nav> 
    <main>
        principal
    </main>
{% endblock content %}