{% extends "global/base.html" %}

{% block content %}
    {% include "global/partials/header.html" %}
    <nav class="container mt-4 d-flex justify-content-start">
        <div>
            {% if user_info.picture %}
                <img 
                    class="rounded-circle person-icon" 
                    src="{{ user_info.picture.url }}" 
                    alt="img-person" 
                    width="100">
            {% else %}
                <i class="bi bi-person display-1 text-dark"></i>
            {% endif %}
        </div>
        <span class="display-5 m-3 under-span">Olá {{home.username}}, está e a sua estante</span>
    </nav> 
    <main class="container pt-4">
        <div class="row">
            <article class="col-sm-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover">
                            <i class="bi bi-bookmarks"></i>
                            Todos
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover">
                            <i class="bi bi-bookmark-fill text-success"></i>
                            Lidos
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover">
                            <i class="bi bi-bookmark-fill text-warning"></i>
                            Quero ler
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover">
                            <i class="bi bi-bookmark-fill text-primary"></i>
                            Lendo
                        </a>
                    </li>
                </ul>
            </article>
            <section class="col-sm-10 d-flex">
                {% for book in bookcases %}
                    <a href="#" class="btn">
                        <div>
                            <img class="img-fluid" width="100" src="{{ book.img.url }}" alt="book">
                        </div>
                        <div>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                        </div>
                    </a>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock content %}