{% extends "global/base.html" %}

{% block content %}
    {% include "global/partials/header.html" %}
    <nav class="container mt-4 d-flex justify-content-start">
        <div>
            {% if user_info.picture %}
                <img 
                    class="rounded-circle person-icon" 
                    src="{{ user_info.picture.url }}" 
                    alt="img-person" 
                    width="100">
            {% else %}
                <i class="bi bi-person display-1 text-dark"></i>
            {% endif %}
        </div>
        <span class="display-5 mt-3">Olá {{home.username}}, está e a sua estante</span>
    </nav> 
    <main class="container pt-4">
        <div class="row">
            <article class="col-sm-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Todos
                    </li>
                    <li class="list-group-item">
                        Lidos
                    </li>
                    <li class="list-group-item">
                        Quero ler
                    </li>
                    <li class="list-group-item">
                        Lendo
                    </li>
                </ul>
            </article>
            <section class="col-sm-10">
                <img class="img-fluid" width="100" src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQhZUG0-9VMWZPFFbT24XkgF2Co4jI5OWKyy57zimpFvXTgDYyBujy29XPKOlZiX0ZxwEV6L8hH7YhALr0-Tfsv2rOtJmsUOYPg1W4FBSy9&usqp=CAc" alt="book">
            </section>
        </div>
    </main>
{% endblock content %}