{% extends "global/base.html" %}
{% load static %}
{% block content %}

{% include "global/partials/header.html" %}

<aside class="bg-orange pt-4">
    <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="{% static "home/imgs/book01.jpg" %}">
        </div>
        
        <div class="mySlides fade">
          <img src="{% static "home/imgs/book02.jpg" %}">
        </div>
        
        <div class="mySlides fade">
          <img src="{% static "home/imgs/book03.jpg" %}">
        </div>
    </div>
    <div class="dots">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
    </div>
</aside>

<main class="container pt-5">
    <section class="row view-100">
        <div class="col-lg-6" id="colum">
            <h3 class="display-3 text-danger">
                A maior biblioteca do mundo
                <span class="text-danger-emphasis">EbookWorld.</span>
            </h3>
            <p class="lead">
                Experimente a conveniência de levar consigo uma biblioteca inteira em seu bolso
            </p>
            <a href="{% url "home:cadastro" %}" class="btn btn-danger btn-lg">Experimente grátis</a>
        </div>
        <div class="col-lg-6 not-visible" id="visible-img">
            <img 
                class="img-fluid rounded"
                src="https://images.unsplash.com/photo-1512820790803-83ca734da794?q=80&w=1798&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="img-teste"
            >
        </div>
    </section>
    <hr>
    <section class="row view-100">
        <div>
            <h1 class="display-4">
                Lorem ipsum dolor sit amet.
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tenetur quo iure aliquid est laborum vero voluptatibus ut debitis! Corrupti ullam magni nam sit sint quo deserunt debitis itaque ex.
            </p>
        </div>
        <div class="text-center">
            imgs carrosel effect
        </div>
    </section>
</main>

{% include "global/partials/footer.html" %}

<script src="{% static "home/js/carousel.js" %}"></script>
{% endblock content %}
