{% extends "global/base.html" %}
{% load static %}
{% block content %}

{% include "global/partials/header.html" %}

<aside class="bg-orange pt-4">
    <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="{% static "home/imgs/book01.jpg" %}">
        </div>
        
        <div class="mySlides fade">
          <img src="{% static "home/imgs/book02.jpg" %}">
        </div>
        
        <div class="mySlides fade">
          <img src="{% static "home/imgs/book03.jpg" %}">
        </div>
    </div>
    <div class="dots">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
    </div>
</aside>

<main class="container pt-5">
    <section class="pt-5 row">
        <div class="col-lg-6">
            <h3 class="display-3 text-danger">A maior biblioteca do mundo <strong>EbookWolrd</strong> </h3>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum praesentium eveniet pariatur dicta autem vel minus 
                deserunt excepturi architecto fugit sapiente, fuga harum illum aspernatur dignissimos officiis numquam vitae ipsum
            </p>
            <a href="{% url "home:login" %}" class="btn btn-danger">Experimente gratis</a>
        </div>
        <div class="col-lg-6 not-visible">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1512820790803-83ca734da794?q=80&w=1798&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img-teste">
        </div>
    </section>
</main>

{% include "global/partials/footer.html" %}

<script src="{% static "home/js/carousel.js" %}"></script>
{% endblock content %}
