{% extends "global/base.html" %}
{% load static %}
{% block content %}

{% include "global/partials/header.html" %}

<aside class="bg-orange pt-4">
    <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="{% static "home/imgs/book01.jpg" %}">
        </div>
        
        <div class="mySlides fade">
          <img src="{% static "home/imgs/book02.jpg" %}">
        </div>
        
        <div class="mySlides fade">
          <img src="{% static "home/imgs/book03.jpg" %}">
        </div>
    </div>
    <div class="dots">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
    </div>
</aside>

<main class="container pt-2">
    <section class="pt-5">
        <div class="d-flex justify-content-between">
            <h3 class="col-md-6 display-6 fw-semibold text-danger">Recomendados para você</h3>
            <a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">veja mais</a>
        </div>
        <article class="row text-center border border-2 rounded py-3">
            <div class="col-md-3">
                <img width="200" class="img-fluid" src="https://m.media-amazon.com/images/I/51Ya2eTZVPL._SY445_SX342_.jpg" alt="img-book">                
            </div>
            <div class="col-md-3">
                <img width="200" class="img-fluid" src="https://m.media-amazon.com/images/I/51a4MwrriLL._SY445_SX342_.jpg" alt="img-book">                
            </div>
            <div class="col-md-3">
                <img width="200" class="img-fluid" src="https://m.media-amazon.com/images/I/51kAYMwbQIL._SY445_SX342_.jpg" alt="img-book">
            </div>
            <div class="col-md-3">
                <img width="200" class="img-fluid"  src="https://m.media-amazon.com/images/I/41Maooh83PL._SY445_SX342_.jpg" alt="img-book">
            </div>
        </article>
    </section>
    <section class="pt-5">
        <div class="d-flex justify-content-between">
            <h3 class="col-md-6 display-6 fw-semibold text-danger">Mais pesquisados</h3>
            <a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">veja mais</a>
        </div>
        <article class="row text-center border border-2 rounded py-3">
            <div class="col-md-3">
                <img width="200" class="img-fluid" src="https://m.media-amazon.com/images/I/91dXKxko2eL._SY466_.jpg" alt="img-book">
            </div>
            <div class="col-md-3">
                <img width="200" class="img-fluid" src="https://m.media-amazon.com/images/I/91r5G8RxqfL._SY466_.jpg" alt="img-book">
            </div>
            <div class="col-md-3">
                <img width="200" class="img-fluid" src="https://m.media-amazon.com/images/I/91M9xPIf10L._SY466_.jpg" alt="img-book">
            </div>
            <div class="col-md-3">
                <img width="270" class="img-fluid" src="https://m.media-amazon.com/images/I/61F-KPiT4KL._SY466_.jpg" alt="img-book">
            </div>
        </article>
    </section>
</main>

{% include "global/partials/footer.html" %}

<script src="{% static "home/js/carousel.js" %}"></script>
{% endblock content %}
