{% extends "global/base.html" %}
{% load static %}
{% block content %}

<main class="pt-5">
    {% if user.is_authenticated %}
        <p>
            Você fez login como {{ user.username }}
            Clique <a href="{% url "home:logout" %}">Aqui</a> para sair.
        </p>
    {% else %}
        {% include "home/partials/_user-form.html" %}
    {% endif %}
</main>

<script>
    function showPass() {
        const checker = document.querySelector("input#passwordInput")
        if (checker.type === 'password') {
            checker.type = 'text'
        } else {
            checker.type = 'password'
        }
    }
</script>

{% endblock content %}