{% extends "global/base.html" %}
{% load static %}
{% block content %}
{% include "global/partials/header.html" %}

    <main class="container py-3">
        <h1 class="pb-3">
            <button class="btn2">
                <i class="bi bi-search"></i>
            </button>
            Procurando livros relacionados a...
            <span id="bookValue">
                {{ query }}
            </span>
        </h1>
        <section class="bg-secondary-subtle rounded p-3">
            <div class="row d-flex justify-content-center" id="showBooksFetch">
                Carregando livros...
            </div>
        </section>
        <section>
            <div class="modal modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Livro</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row" id="modal-body-text">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      {% if user.is_authenticated %}
                        <button type="button" class="btn btn-primary">Adicionar livro</button>
                      {% else %}
                        <a href="{% url "home:cadastro" %}" class="btn btn-primary">Crie a conta para adicionar um livro</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
        </section>
    </main>
    {% include "global/partials/footer.html" %}
<script src="{% static "home/js/search.js" %}"></script>
{% endblock content %}