{% extends "global/base.html" %}
{% load static %}
{% block content %}
{% include "global/partials/header.html" %}

    <main class="container pt-3">
        <h1>
            <button class="btn2">
                <i class="bi bi-search"></i>
            </button>
            Procurando livros relacionados a...
            <span id="bookValue">
                {{ query }}
            </span>
        </h1>
        <section>
            <div id="showBooksFetch">
                Carregando livros...
            </div>
        </section>
    </main>

<script src="{% static "home/js/search.js" %}"></script>
{% endblock content %}