{% load static %}
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 container">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img class="img-fluid" width="50" src="{% static "global/icon/ebook.png" %}" alt="img">
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-body-secondary" href="https://www.linkedin.com/in/daniel-tenório-6471b0244/">
                <i class="bi bi-linkedin text-primary fs-4"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="https://github.com/danielBRTanimacao">
                <i class="bi bi-github fs-4"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="https://www.instagram.com/danieltenorio35/">
                <i class="bi bi-instagram fs-4 text-danger"></i>
            </a>
        </li>
    </ul>
</footer>