<header class="sticky-top shadow-lg">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="{% url "home:index" %}" class="navbar-brand fs-1 fw-bold">Ebook<span class="text-danger">World</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <form class="input-group" role="search" action="{% url "home:search" %}" method="get">
                    <input 
                        class="form-control" 
                        type="search" 
                        name="q" 
                        placeholder="Procure por um livro..." 
                        id="bookSearch"
                        autofocus
                        required
                    >
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="bi bi-envelope fs-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="bi bi-person-add fs-2"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle fs-2"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url "home:account" user.id %}">Meu Perfil</a></li>
                                <li><a class="dropdown-item" href="#">Configurações</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <!-- o user ainda não sai tem que ajeitar-->
                                <li><a class="dropdown-item text-danger" href="{% url "home:logout" %}">Sair</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url "home:login" %}">Entrar</a></li>
                                <li><a class="dropdown-item" href="{% url "home:cadastro" %}">Registrar</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>