:root {
    --grey-variant: #bbb;
    --grey-variant-dark: #717171;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mySlides {
    display: none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.dots {
    position: relative;
    top: -40px;
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 0.5px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s ease;
}

.active {
    background-color: #fff;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

.fade img {
    height: 500px;
    width: 100%;
}

.m-big {
    margin: 0 26rem;
}

.ptq-5 {
    padding-top: 2rem;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.bg-orange {
    background: linear-gradient(-45deg, #ffc71b, #ff7f00, #ff0000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sticky-top {
    background-color: #ffffff;
}

input[type="checkbox"]:checked {
    background-color: red;
}

.btn2 {
    border: none;
    background-color: #ffffff;
}

.border-orange {
    z-index: -100;
    position: relative;
    margin: 0 15px;
    border-bottom: 20px solid #dc6b19;
    border-radius: 5px;
    top: -40px;
}

.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ff0000;
}

.view-100 {
    align-items: center;
    height: 75vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.upItem {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (max-width: 1199.98px) {
    .fade img {
        height: 450px;
    }
    .m-big {
        margin: 0 20rem;
    }
    .not-visible {
        visibility: hidden;
    }
}

@media (max-width: 991.98px) {
    .fade img {
        height: 400px;
    }
    .m-big {
        margin: 0 12rem;
    }
    .ptq-5 {
        padding-top: 0;
    }
}

@media (max-width: 767.98px) {
    .fade img {
        height: 350px;
    }
    .m-big {
        margin: 0 6rem;
    }
    .person-icon {
        width: 85px;
    }
    .view-100 {
        height: 50vh;
    }
}

@media (max-width: 575.98px) {
    .fade img {
        height: 300px;
    }
    .m-big {
        margin: 0 3rem;
    }
}
