<form 
action="{{ form_action }}" 
method="POST" 
class="shadow-lg p-4 rounded m-big"
enctype="multipart/form-data"
> 
{% csrf_token %}
<div>
    <h2 class="display-6">{{ register }}</h2>
</div>
{% for field in form %}
    <div class="mb-3">
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
        {% if field.help_text %}
            <p class="lead fs-6">
                {{field.help_text}}
            </p>
        {% endif %}
        {% if field.name == 'picture' and field.value.url %}
            <div class="form-group">
                <img src="{{ field.value.url }}" alt="">
            </div>
        {% endif %}
    </div>
{% endfor %}

<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="passwordShow" onclick="showPass()">
    <label for="passwordShow">Mostrar senha</label>
</div>

<button type="submit" class="btn btn-danger form-control">{{ btn_send }}</button>
<p>
    {{ have_account }}
    {% if btn_send == "Criar" %}
        <a href="{% url "home:login" %}">{{ account_login }}</a>
    {% else %}
        <a href="{% url "home:cadastro" %}">{{ account_login }}</a>
    {% endif %}
</p>
</form>